html, body {
    margin: 0;
    height: 100%;
}

/********* custom style *********/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    font-family: 'Poppins', sans-serif;
}
/* nav */
.flex {
    display: flex;
    gap: 10px;
}

.space__bt {
    justify-content: space-between;
    align-items: center;
}

.flex__row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.flex__col {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
}

.flex__content {
    display: flex;
    flex-flow: row;
    height: 90%;
}

.nav__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.nav__list li, .nav__list span {
    color: #bdbdbd;
}

li.active, span.active {
    color: #ffffff;
}

.user__lib {
    background-color: #000000;
    min-width: 170px;
    padding: 60px 20px;
    font-size: 15px;
    overflow-y: scroll;
}

.icon__list li {
    margin: 5px;
    cursor: pointer;
}

.lib__list {
    margin-top: 30px;
}

.main__nav__icon {
    margin-right: 10px;
}

span.icon {
    font-size: 32px;
}

hr {
    border-color: #212121;
    margin: 8px 5px;
}

.personal__playlist li {
    margin: 5px;
    cursor: pointer;
}

/* main */
.main__content {
    background-color: #212121;
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
}

span.arrow {
    font-size: 40px;
    color: #616161;
    cursor: pointer;
}

.w__color {
    color: #ffffff;
    margin: 0;
}

.user__drop {
    padding: 2px 8px;
    background-color: #000000;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.user__drop:hover {
    background-color: #424242;
}

span.acc__circle {
    font-size: 24px;
    margin-right: 5px;
}

.good {
    margin: 60px 0;
}

.good > span {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.other__albums {
    margin-bottom: 30px;
}

.last__played {
    display: flex;
    gap: 15px 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.album__item {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #424242;
    cursor: pointer;
    border-radius: 4px;
    flex: 1 0 25%;
    transition: 0.3s ease-in;
}

.album__item:hover {
    background-color: #616161;
}

.album__item img {
    margin-right: 15px;
    max-width: 16%;
    border-radius: 4px 0 0 4px;
}

.album__item span {
    color: #ffffff;
    font-weight: bold;
}

.album__list {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    gap: 25px;
}

.next__titles {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

.album__card {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 4px;
    max-width: 170px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.album__card:hover {
    background-color: #424242;
}

.album__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.album__text {
    color: #bdbdbd;
    font-size: 14px;
}

.album__card img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* footer/player */
footer.m__player {
    background-color: #1e1e1e;
    border-top: 1px solid #424242;
    padding: 15px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 10%;
}

.playing {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.playing > img {
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.music__info {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

span.song {
    font-size: 14px;
    color: #bdbdbd;
}

span.artist {
    font-size: 12px;
    color: #616161;
}

.player__controls {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

.controls {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.controls span.material-symbols-rounded:hover, .other__controls span.material-symbols-rounded:hover {
    cursor: pointer;
    color: #bdbdbd;
    transition: 0.3s ease-in;
}

span.rest__cplayers {
    font-size: 20px;
    color: #1db954;
}

span.skip {
    font-size: 32px;
    color: #616161;
}

span.play__pause {
    font-size: 40px;
    color: #bdbdbd;
}

.music__progress {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

span.time {
    color: #616161;
}

.progress__bar, .progress {
    height: 5px;
    border-radius: 25px;
}

.progress__bar {
    width: 400px;
    background-color: #616161;
}

.progress {
    width: 200px;
    background-color: #bdbdbd;
}

.other__controls {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 16px;
}

.other__controls span {
    font-size: 20px;
    color: #616161;
}